<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Jogre_appengine.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>gameServlet</servlet-name>
    <servlet-class>com.appenginefan.jogre.webapp.server.GameServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>gameServlet</servlet-name>
    <url-pattern>/jogre_appengine/jogre</url-pattern>
  </servlet-mapping>

</web-app>
